<link href="{{ asset('styles/main.css') }}" type="text/css" rel="stylesheet" />
<style>

</style>
<div class="container">
    {{ form_start(form) }}
    <div>

    </div>
    {{ form_end(form) }}
    <a href="{{ path('results') }}">
        <button class="__button __button--yellow"><--</button>
    </a>
</div>