*{
    font-family: Roboto, serif;
}
.__button {
    width: 100px;
    padding: 0.5em;
    transition: background-position ease-in-out .4s, color ease-in-out .4s, font-weight ease-in-out .4s;
    font-size: 1em;
    color: black;
    background: linear-gradient(0, black 50%, white 50%);
    background-size: 100px 200px;
    border: black 2px solid;
    margin: 0.5em;
}

.__button:hover {
    background-position-y: bottom;
    color: white;
    font-weight: bold;
}


.container {
    margin: 0 auto;
    max-width: 750px;
}