.table{
    width: 100%;
}
.table__row{
    text-align: left;
    padding: .5em;
    border: none;

}

.table__header{
    text-align: left;
}
.table__row:hover{
    background-color: #F5F5F5;
    cursor: pointer;
    color: #6a806f;
}